<h1>{{ titleStudents }}</h1>
<ul>
    <li *ngFor="let student of students"
    (click)="onSelectStudent(student)"
    >
        Id: <span>{{student.id}}</span> ***** Nombre: {{student.name | uppercase }} ***** Grado: {{student.grade}} 
        <ul>
        <br />
        Clases:
            <li *ngFor="let clase of student.clasess, let i=index">
                <input [(ngModel)]="student.clasess[i]" placeholder="clase">
            </li>
        <br />
        </ul>
    </li>
</ul>

<h1>{{ titleTeachers }}</h1>
<ul>
    <li *ngFor="let teacher of teachers"
    (click)="onSelectTeacher(teacher)"
    >
        Id: <span>{{teacher.id}}</span> ***** Nombre: {{teacher.name | uppercase }} 
        <ul>
        <br />
        Salones:
        	<li *ngFor="let room of teacher.rooms, let i=index">
        		<input [(ngModel)]="teacher.rooms[i]" placeholder="clase">
    		</li>
        <br />
    	Estudios:
    		<li *ngFor="let studie of teacher.studies, let i=index">
        		<input [(ngModel)]="teacher.studies[i]" placeholder="clase">
    		</li>
        </ul>
        <br />
    </li>
</ul>